.menu-shortcut{
 float: right !important;
 color: #6699cc;
 font-size: 80%;
}

.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus {
  background-color: transparent;
  color: #999999;
}

.has-feedback .form-control-feedback {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    z-index:2;
}

#error-messages {
    color:red;
}

#help-popup {
position  : absolute;
top   : 80px;
left    : 10px;
z-index   : 2;


font-size : 100%;
width: 30%;


/*color   : #BDBDBD;*/
color: black;

/*background  : rgba(0,0,0,0.5);*/
/*background: #cdc0b4; */

padding   : 15px;
padding-top : 5px;
padding-bottom  : 5px;


border-radius : 10px;
border-color  : black;
border-style  : solid;
border-width  : 2px;  
}
#help-popup a {
color   : blue; /*#8888ff;  */
}